:root {
    --mo-header-color: #f2f2f2;
    --mo-border-color: #ddd;
    --mo-text-color: #212529;
    --mo-text-secondary-color: #2d3234;
    --mo-text-content-positive: #26641e;
    --mo-text-content-negative: #7c2d2d;
    --mo-text-content-positive-header: #1d3817;
    --mo-text-content-negative-header: #4d2121;
}

/* Alerts */
#mo-alert-danger {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

/* Containers */
.mo-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mo-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.mo-row-header {
    background-color: var(--mo-header-color);
}

.mo-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid var(--mo-border-color);
}

.mo-col-preview {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 116px;
    max-width: none
}

.mo-col-type {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10.666667%;
    flex: 0 0 10.666667%;
    max-width: 10.666667%
}

.mo-col-name {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
    max-width: none
}

.mo-col-description {
    width: auto;
    max-width: none
}

.mo-col-actions {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 12%;
    max-width: 14%;
    text-align: center
}

/* Details container */
.mo-details-container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mo-details-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mo-details-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: left;
    vertical-align: middle;
}

.mo-details-col-full{
    padding: 8px;
}

.mo-details-col-preview {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 250px;
    padding: 8px;
    max-width: none
}

.mo-details-sub-container {
    width: 100%;
}

.mo-details-sub-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mo-details-sub-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
}

.mo-details-sub-col-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 18%;
    padding: 8px;
    max-width: none
}

/* Badges */
.mo-badge {
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25rem
}

.mo-details-badge {
    display: inline-block;
    padding: .25em .4em;
    font-weight: bold !important;
    font-size: 0.9rem !important;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25rem
}

.mo-badge-checkpoint {
    color: #fff !important;
    background-color: #007bff
}

.mo-badge-vae {
    color: #fff !important;
    background-color: #dc3545
}

.mo-badge-lora {
    color: #fff !important;
    background-color: #28a745
}

.mo-badge-hyper-network {
    color: #fff !important;
    background-color: #17a2b8
}

.mo-badge-embedding {
    color: #212529 !important;
    background-color: #ffc107
}

.mo-badge-other {
    color: #fff !important;
    background-color: #6c757d
}

/* Text */
.mo-text-description {

}

.mo-text-header {
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--mo-text-color);
}

.mo-text-content {
    font-weight: normal;
    font-size: 1rem;
    color: var(--mo-text-secondary-color);
}

.mo-text-positive {
    color: var(--mo-text-content-positive);
}

.mo-text-negative {
    color: var(--mo-text-content-negative);
}

.mo-text-positive-header {
    color: var(--mo-text-content-positive-header);
}

.mo-text-negative-header {
    color: var(--mo-text-content-negative-header);
}

/* Buttons */
.mo-button-name {
    border: none;
    padding: 8px 16px;
    text-align: left;
    text-decoration: none;
    font-weight: bold !important;
    display: inline-block;
    font-size: 0.9rem !important;
    margin: 4px 2px;
    cursor: pointer;
}

.mo-btn {
    display: inline-block;
    font-weight: 400 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none !important;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    border-radius: .25rem;
    width: 6rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.mo-btn-primary {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important
}

.mo-btn-warning {
    color: #212529 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important
}

.mo-btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important
}

/* Images */
.mo-preview-image {
    width: 100px !important;
    height: 150px !important;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.mo-details-image {
    width: 250px !important;
    height: 350px !important;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

/* Links */
.mo-nav-link {
    display: block;
    color: #007bff;
    background-color: transparent;
    text-decoration: none;
    font-size: 0.9rem;
}

.mo-nav-link:focus, .mo-nav-link:hover {
    text-decoration: none
}