:root {
    --mo-alert-primary-text-color: #b8daff;
    --mo-alert-primary-background-color: #033772;
    --mo-alert-primary-border-color: #002752;

    --mo-alert-secondary-text-color: #d6d8db;
    --mo-alert-secondary-background-color: #383d41;
    --mo-alert-secondary-border-color: #1a1c1e;

    --mo-alert-success-text-color: #c3e6cb;
    --mo-alert-success-background-color: #115420;
    --mo-alert-success-border-color: #0f3d18;

    --mo-alert-info-text-color: #bee5eb;
    --mo-alert-info-background-color: #0c5460;
    --mo-alert-info-border-color: #072f36;

    --mo-alert-warning-text-color: #ffeeba;
    --mo-alert-warning-background-color: #836409;
    --mo-alert-warning-border-color: #503c03;

    --mo-alert-danger-text-color: #f8d7da;
    --mo-alert-danger-background-color: #721c24;
    --mo-alert-danger-border-color: #491217;

    --mo-table-header-background-color: #1F2937;
    --mo-table-border-color: #374151;

    --mo-block-highlight-odd: rgb(19, 26, 44);
    --mo-block-highlight-even: rgba(203, 207, 211, 0);
    --mo-block-highlight-positive: #ffffff00;
    --mo-block-highlight-negative: #ffffff00;

    --mo-badge-checkpoint-text-color: #fff;
    --mo-badge-checkpoint-background-color: #007bff;

    --mo-badge-vae-text-color: #fff;
    --mo-badge-vae-background-color: #dc3545;

    --mo-badge-lora-text-color: #fff;
    --mo-badge-lora-background-color: #28a745;

    --mo-badge-hyper-network-text-color: #fff;
    --mo-badge-hyper-network-background-color: #17a2b8;

    --mo-badge-lycoris-text-color: #fff2ca;
    --mo-badge-lycoris-background-color: #5e3511;

    --mo-badge-embedding-text-color: #212529;
    --mo-badge-embedding-background-color: #ffc107;

    --mo-badge-other-text-color: #fff;
    --mo-badge-other-background-color: #6c757d;

    --mo-badge-group-text-color: #212529;
    --mo-badge-group-background-color: #dadada;

    --mo-text-color: #212529;
    --mo-text-secondary-color: #2d3234;
    --mo-text-content-positive: #89be89;
    --mo-text-content-negative: #ad7878;
    --mo-text-content-positive-header: #89be89;
    --mo-text-content-negative-header: #ad7878;

    --mo-btn-primary-text-color: #fff;
    --mo-btn-primary-background-color: #007bff;
    --mo-btn-primary-border-color: #007bff;

    --mo-btn-success-text-color: #fff;
    --mo-btn-success-background-color: #28a745;
    --mo-btn-success-border-color: #28a745;

    --mo-btn-warning-text-color: #212529;
    --mo-btn-warning-background-color: #ffc107;
    --mo-btn-warning-border-color: #ffc107;

    --mo-btn-danger-text-color: #fff;
    --mo-btn-danger-background-color: #dc3545;
    --mo-btn-danger-border-color: #dc3545;

    --mo-link-text-color: #007bff;

    --mo-card-border-color: #374151;
    --mo-card-box-shadow-color: rgba(0, 0, 0, 0.3);
    --mo-card-blur-overlay-background: rgba(0, 0, 0, 0.5);
    --mo-card-blur-overlay-text-color: white;
    --mo-card-hover-background-color: rgba(0, 0, 0, 0.5);

    --mo-progress-background-color: #0A0F19;
    --mo-progress-foreground-color: #007bff;
    --mo-progress-text-color: #fff
}